@{
    ViewData["Title"] = "Contact";
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <hr class="bg-dark">
    <address>
        107 Beard Ave<br />
        Honolulu, HI 96818-5120<br />
        <abbr title="Phone">P:</abbr>
        623.810.9358
    </address>

    <address>
        <strong>Support:</strong>
        <a href="mailto:daniel.lee.way@example.com">daniel.lee.way@gmail.com</a><br />
    </address>
</div>
