@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>My Soldiers</h2>
    <p>
        Welcome to My Soldiers Application. This application was create in fullfilment for the Capstone Requirements
        for Claim Academy's C#.Net Full Stack Developer Course. The Single Point of Entry (SPOE) for all Soldier information.
        There is no need for multiple "Logins" to multiple websites. My Soldiers is a central Soldier Data Information
        repository designed to retain data for all Soldiers from the earliest point of data gathering to the Members End of Service.
        Having this information available in one place and at the fingertips of todays Leadership, reduces time spent on searching
        the many portals to gather the information and gives back that times for Leadership to spend with their Soldiers.
    </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>