@{
    ViewData["Title"] = "Privacy";
}
<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <hr>
    <p>
        This application was create in fullfilment for the Capstone Requirements for Claim Academy's C#.Net Full Stack Developer Course. The
        intended use of My Soldiers App is to create a Single Point of Entry (SPOE) to manage Soldier information pertaining to the Soldiers that are under their
        Leadership. This can range from team leader to Battalion Commander and beyond. The sole purpose is to reduce the number of systems to
        log into and have the information readily available to produce manning reports, training reports, personal qualification requirements,
        weapons qualifications, equipment inventory, vehicle licensing program and a variety of other information that leaders of todays Army
        can utilize in managing their Soldiers information. All information within the scope of this application is purely fictitional.
        Any information that may reflect a living person is purely coincidental and is not intended for any other purpose other than this demonstration.
    </p>
</div>
